[submodule "entityx"]
	path = entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "rttr"]
	path = rttr
	url = https://github.com/rttrorg/rttr.git
